PORT=
VERSION=''

# TODO: variables de entorno para la conexión a la base de datos oracle
DB_ORACLE_USER=''
DB_ORACLE_PASS=''
DB_ORACLE_NAME=''

DB_MNG_USER=''
DB_MNG_PASS=''

DB_ORACLE_DIR=''
DB_ORACLE_DIR_TNS=''

# TODO: variables de entorno para la conexión a la base de datoS MySQL
DB_USER=''
DB_PASS=''
DB_HOST=''
DB_PORT=''
DB_NAME=''

CARTERA_FRONTEND=''